
body {
  background-image:url('images/bgimg.webp');
  background-repeat: no-repeat;
  background-size: cover;
min-height:100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
